---
---

@import "{{ site.theme }}";

body { font-weight: 300; color: #454545; }

.wrapper {max-width: calc(900px - (30px * 2)); }

pre {
    border: solid 1px silver;
    padding: 10px;
    font-size: 14px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    line-height: 1.2;
}